pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
flake8==3.7.8
twine==1.14.0
Sphinx
typer
pytest~=7.3.1
hypothesis~=6.75.3
coverage
pytest-cov
build
numpy
bionumpy
more-itertools
scipy
networkx

plotly
setuptools~=67.0.0
pandas
